#!/system/bin/sh

# KALAU MAU EDIT, OFF DULU CFM
date_day=`date "+%a %b %d (%R:%M) %Z %Y"`
date=`date "+%R"`
#Jika Anda tidak mengerti efeknya, tolong jangan di ubah
ipv6="true"
pref_id="5000"
mark_id="2022"
table_id="2022"
mode="blacklist"
nat_kernel="false"
skip_detect_port="true"
static_dns_interval="false"
static_dns="8.8.8.8"
# untuk update otomatis GeoX
auto_update_GeoX="false"

# CGROUP untuk membatasi penggunaan memori, ganti
# Do what you can, adjust measures to local conditions, and find the threshold that suits you
# If the restriction is too severe, it will cause problems such as high CPU usage, freeze, no network, etc., relax the restrictions appropriately in tun gv mode
# default "false"
Cgroup_memory="true"

# Biarkan kosong untuk mendapatkannya secara otomatis
Cgroup_memory_path=""
# Batasi penggunaan memori, lakukan apa yang Anda bisa, jika batasnya terlalu mati, penggunaan CPU akan terlalu tinggi, -1 berarti tidak ada batas, dan biarkan kosong untuk tidak ada operasi
# Harap simpan batas pembaruan dan jalankan /data/adb/clash/scripts/clash/tool -l
Cgroup_memory_limit="10M"

# directory Clash & file
Clash_bin_name="clash"
Clash_data_dir="/data/adb/clash"
busybox_path="/data/adb/magisk/busybox"
Clash_run_path="${Clash_data_dir}/run"
CFM_logs_file="${Clash_run_path}/run.logs"
Clash_pid_file="${Clash_run_path}/clash.pid"
Clash_bin_path="${Clash_data_dir}/core/${Clash_bin_name}"
Clash_config_file="${Clash_data_dir}/config.yaml"
Temporary_config_file="${Clash_data_dir}/run/config.yaml"
Clash_dns="${Clash_data_dir}/template"
Clash_scripts_dir="${Clash_data_dir}/scripts"

# filter
appuid_file="${Clash_run_path}/appuid.list"
filter_packages_file="${Clash_data_dir}/packages.list"
system_packages_file="/data/system/packages.list"

# setting Update GeoX
update_interval="0 0 * * *"
auto_updateGeoIP="false"
auto_updateGeoSide="false"
Clash_GeoIP_file="${Clash_data_dir}/GeoIP.dat"
Clash_GeoSite_file="${Clash_data_dir}/GeoSite.dat"
Clash_Country_file="${Clash_data_dir}/Country.mmdb"

#Url Update
GeoIP_dat_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/cn.dat"
Country_mmdb_url="https://github.com/Loyalsoldier/geoip/releases/latest/download/Country-only-cn-private.mmdb"
GeoSite_url="https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat"

# auto
geodata_mode=$(grep "geodata-mode" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')
if [ "${geodata_mode}" = "true" ]; then
    Clash_GeoIP_file="${Clash_GeoIP_file}"
    GeoIP_url=${GeoIP_dat_url}
else
    Clash_GeoIP_file="${Clash_Country_file}"
    GeoIP_url=${Country_mmdb_url}
fi

#  Secara otomatis melewati ip lokal, jangan buka filter_local dengan mudah, ini dapat menyebabkan restart perangkat yang lembut setelah dibuka, jika ponsel Anda telah memperoleh ip jaringan publik.
# Restart cfm terlebih dahulu, Anda dapat melewati ip lokal dan memeriksa apakah itu normal. Opsi kedua adalah mencoba membuka filter_local. Dalam kasus soft restart perangkat, harap tutup.
filter_local="false"

# setting permission Clash/file
Clash_permissions="6755"
Clash_user_group="root:net_admin"

# android old 4 - 8 ubah ke "false" 9+ bebas
iptables_w="true"
if [ "${iptables_w}" = "true" ]; then
    iptables_wait="iptables -w 100"
    ip6tables_wait="ip6tables -w 100"
elif [ "${iptables_w}" = "false" ]; then
    iptables_wait="iptables"
    ip6tables_wait="ip6tables"
fi

# Grep file/port
Clash_user=$(echo ${Clash_user_group} | ${busybox_path} awk -F ':' '{print $1}')
Clash_group=$(echo ${Clash_user_group} | ${busybox_path} awk -F ':' '{print $2}')
Clash_tproxy_port=$(grep "tproxy-port" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')
Clash_redir_port=$(grep "redir-port" ${Clash_dns} | ${busybox_path} awk -F ':' '{print $2}')
Clash_mixed_port=$(grep "mixed-port" ${Clash_dns} | ${busybox_path} awk -F ':' '{print $2}')
Clash_dns_port=$(grep "listen" ${Clash_dns} | ${busybox_path} awk -F ':' '{print $3}')
Clash_enhanced_mode=$(grep "enhanced-mode" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')
Clash_tun_status=$(${busybox_path} awk -F ': ' '/^tun: *$/{getline; print $2}' ${Clash_dns})
tun_device=$(${busybox_path} awk -F ': ' '/ +device: /{print $2}' ${Clash_dns})
interface_name=$(ip r show | grep "src" | cut -d " " -f 3,12)

# internet Ip
reserved_ip=(0.0.0.0/8 10.0.0.0/8 100.64.0.0/10 127.0.0.0/8 169.254.0.0/16 172.16.0.0/12 192.0.0.0/24 192.0.2.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 255.255.255.255/32 240.0.0.0/4)
reserved_ip6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 fc00::/7 fe80::/10 ff00::/8)

# Special AIDs (include/private/android_filesystem_config.h):
# 0 root; 2000 adb; 9997 semua orang; 9999 bukan siapa-siapa;
# 1051 netd; 1052 dnsmasq; 3003 AF_INET; 3004 inet; 3005 net_admin;
# 2900-2999 5000-5999 OEM; 10000+ APP; 99000-99999 ISOLATE; 100000 USER; 50000-59999 SHARED_GID
# AIDs untuk filter aplikasi
# filter_aplikasi="true"
# AIDs=(9999)

# directory WebUi
Ui_pid="${Clash_run_path}/php.pid"
Ui="${Clash_data_dir}/../../data/com.termux/files/usr/bin/php"