#!/system/bin/sh

# DATE DAY
date_day=`date`
date_log="「`date "+%H:%M"`」"
line_log="━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━"
# BUSYBOX PATH
busybox_path="/data/adb/magisk/busybox"
# IPV6
ipv6=$(grep "ipv6" /data/clash/template | ${busybox_path} awk -F ': ' '{print $2}' | head -1)

# ID
pref_id="5000"
mark_id="6666"
table_id="6666"
static_dns="false"
auto_ping="false"
restart_clash="false"

# BLACKLIST OR WHITELIST
mode="blacklist"
# DETECTED PORT
port_detect="true"
# NAT KERNEL
nat_kernel="false"
# FILTER LOCAL IP
filter_local="false"
monitor_local_ip="true"

# SELECT META OR PREMIUM
use_premium="false"

# DOWNLOAD LANGGANAN/CONFIG
config_online="false"
# SETTING AUTO UPDATE SUBCRIPT
auto_updateSubcript="false"
# info set interval https://crontab.guru/
# SET INTERVAL UPDATE 
update_interval="0 00 * * *"
# URL LANGGANAN CONFIG
Subcript_url=""

# TUN DEVICE
if [ "${use_premium}" == "true" ]; then
    tun_device="utun"
else
    tun_device="Meta"
fi

# CGROUP UNTUK MEMBATASI PENGGUNAAN MEMORI,
Cgroup_memory="true"
Cgroup_memory_path=""
Cgroup_memory_limit="20M"

# DIRECTORY CLASH & FILE
Clash_bin_name="clash"
Clash_data_dir="/data/clash"
# DIRECTORY TEMPLATE 
Clash_dns="/data/clash/template"
# CMD
cmd_run="/data/clash/run/cmdRunning"
# DIRECTORY LOG/SERVICE
Clash_run_path="/data/clash/run"
CFM_logs_file="/data/clash/run/run.logs"
CFM_logs_service="/data/clash/run/service.log"
# DIRECTORY PID
Clash_pid_file="/data/clash/run/clash.pid"
# DIRECTORY KERNEL CLASH
Clash_bin_path="/data/clash/core/${Clash_bin_name}"
# LIB CORE
Clash_Premium="/data/clash/core/lib/Clash.Premium"
Clash_Meta="/data/clash/core/lib/Clash.Meta"
# DIRECTORY SCRIPTS
Clash_scripts_dir="/data/clash/scripts"

# CUSTOM CONFIG.YAML
use_config="false"
if [ "${use_config}" == "false" ]; then
    Clash_config_file="/data/clash/config.yaml"
else
    Clash_config_file="/data/clash/confs/config/${use_config}"
fi
# TEMPORARY CONFIG.YAML
temporary_config_file="/data/clash/run/config.yaml"
# DIRECTORY PACKAGE
appuid_file="/data/clash/run/appuid.list"
filter_packages_file="/data/clash/packages.list"
system_packages_file="/data/system/packages.list"

# AUTO UPDATE CORE
#skip_ceks_kernel="true"
schedule_update_core="false"
# URL CLASH.META
url_meta="https://cdn.githubjs.cf/taamarin/Clash.Meta/releases" # Core.Meta fork taamarin
# url_meta="https://cdn.githubjs.cf/MetaCubeX/Clash.Meta/releases" # Core.Meta official
# URL CLASH.PREMIUM
url_premium="https://cdn.githubjs.cf/Dreamacro/clash/releases"
arm=$(uname -m)
if [ "${use_premium}" == "false" ]; then
    file_core="Clash.Meta"
    meta_alpha="true"
        tag="Prerelease-Alpha"
        tag_name="alpha-[0-9,a-z]+"
    if [ ${arm} == "aarch64" ] ; then
      platform="linux"
      arch="arm64"
    else
      platform="linux"
      arch="armv7"
    fi
else
    file_core="Clash.Premium"
    platform="linux"
    if [ ${arm} == "aarch64" ] ; then
      arch="armv8"
    else
      arch="armv7"
    fi
fi
# SETTING UPDATE GEOX
auto_updateGeoX="true"
Clash_geodata_mode=$(grep "geodata-mode" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')
if [ "${Clash_geodata_mode}" == "false" ]; then
    Clash_GeoIP_file="/data/clash/Country.mmdb"
    GeoIP_dat_url="https://cdn.githubjs.cf/Hackl0us/GeoIP2-CN/raw/release/Country.mmdb"
else
    Clash_GeoIP_file="/data/clash/GeoIP.dat"
    GeoIP_dat_url="https://cdn.githubjs.cf/v2fly/geoip/releases/latest/download/geoip-only-cn-private.dat"
fi
Clash_GeoSite_file="/data/clash/GeoSite.dat"
GeoSite_url="https://cdn.githubjs.cf/taamarin/v2ray-rules-dat/raw/release/geosite.dat"
# CLASH PERMISSIONS
Clash_permissions="6755"
Clash_user_group="root:net_admin"
# IPTABLES
iptables_version=$(iptables -V | grep -o "v1\.[0-9]")
if [ "${iptables_version}" = "v1.4" ] ; then
    export ANDROID_DATA=/data
    export ANDROID_ROOT=/system
    iptables_wait="iptables"
    ip6tables_wait="ip6tables"
elif [ "${iptables_version}" = "v1.6" ] || [ "${iptables_version}" = "v1.8" ] ; then
    iptables_wait="iptables -w 100"
    ip6tables_wait="ip6tables -w 100"
else
    iptables_wait="iptables"
    ip6tables_wait="ip6tables" 
fi
# GREP FILE/PORT
Clash_user=$(echo ${Clash_user_group} | ${busybox_path} awk -F ':' '{print $1}')
Clash_group=$(echo ${Clash_user_group} | ${busybox_path} awk -F ':' '{print $2}')
Clash_tproxy_port=$(grep "tproxy-port" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')
Clash_dns_port=$(grep "listen" ${Clash_dns} | ${busybox_path} awk -F ':' '{print $3}')
Clash_tun_status=$(${busybox_path} awk -F ': ' '/^tun: *$/{getline; print $2}' ${Clash_dns})
Clash_auto_route=$(grep "auto-route" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')
Clash_auto_detect_interface=$(grep "auto-detect-interface" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')
Clash_tcp_concurrent=$(grep "tcp-concurrent" ${Clash_dns} | ${busybox_path} awk -F ':' '{print $2}')
Clash_enhanced_mode=$(grep "enhanced-mode" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')
Clash_stack_mode=$(grep "stack" ${Clash_dns} | ${busybox_path} awk -F ': ' '{print $2}')

# INTERNET IPV4 & IPV6
reserved_ip=(0.0.0.0/8 10.0.0.0/8 100.64.0.0/10 127.0.0.0/8 169.254.0.0/16 172.16.0.0/12 192.0.0.0/24 192.0.2.0/24 192.88.99.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 233.252.0.0/24 240.0.0.0/4 255.255.255.255/32)
reserved_ip6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 fc00::/7 fe80::/10 ff00::/8)

# SPECIAL AIDS (include/private/android_filesystem_config.h): //0 root; 2000 adb; 9997 everybody; 9999 nobody; // 1051 netd; 1052 dnsmasq; 3003 AF_INET; 3004 inet; 3005 net_admin; // 2900-2999 5000-5999 OEM; 10000+ APP; 99000-99999 ISOLATE; 100000 USER; 50000-59999 SHARED_GID
# AIDs=(3005 9999)